@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  height: 100%;  
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #9D00FF;
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 0, 0),
    #662c8b
  );
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    #662c8b

  );
}